body
{
  background-color: rgb(35, 35, 35);
  margin: 0;
  padding: 0;
  font-family:sans-serif;
  color:white;
  font-size: larger;
 
}

h1
{
  font-size: 30px;

}

input
{
  margin-top: 20px;
  padding:10px;
  font-size: larger;
  margin-right: 20px;
  
}

.box
{
  padding: 40px;
  width: 500px;
  border-radius: 10px;
  background-color: #403e3e;
}